.container {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background: url('../images/bg.svg');
    // position: relative;
    padding-bottom: 25px;
}

.heading {
    margin: 30px 0;
    padding: 20px;
    width: 275px;
    background: maroon;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.date {
    text-align: center;
    color: white;
    margin: 1.5%;
    // font-size: 24pt;
    font-size: 170%;
}

.listbox {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 0;
    background: #faebd7cc;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.taskItem {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 15px;
    font-size: 20pt;
    font-weight: 200;
    color: #00204a;
    border-bottom: 1px solid #0002;
    position: relative;
}

.checkbox { 
    margin-right: 20px !important;
    user-select:none;
}

.checkbox:hover {
    background: none !important;
}

.form {
    display: flex;
    flex-direction: column;
}

.compose input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 18pt; 
    width: 75%;
}

.compose input[type=text]:focus {
    outline: 1px solid black;
}

.compose {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.addbutton {
    background: #8f0d0d !important;
    color: white !important;
}

.delbutton { 
    opacity: 0.2;
    position: absolute;
    right: 10px;    
}

.delbutton:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.empty {
    @extend .taskItem;
    justify-content: center;
    padding-bottom: 25px;
}

.done {
    @extend .taskItem;
}

.done > .textfield {
    text-decoration: line-through;
}

.textfield {
    width: 50%;
    font: 200 12pt "Segoe UI";
    background: none;
    border: none;
    outline: none;
    padding: 5px 0 5px 5px; 
}

.edit__mode {
    @extend .textfield;
    border: none;
    background: white;
    border-bottom: solid 1px black;
    text-decoration: none !important;
}

.edit__button {
    @extend .delbutton;
    right: 40px;
}

@media only screen and (min-width: 768px) {
    .container {
        transform-origin: center top;
        transform: scale(1.15);
    }

    .listbox {
        width: 500px;
    }

    .textfield {
        width: 70%;
        font-size: 20pt;
    }
}